# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/DirectX12Graphics/.vs/DirectX12Graphics/v17/*.suo
/DirectX12Graphics/.vs/DirectX12Graphics/v17/*.db
/DirectX12Graphics/.vs/DirectX12Graphics/v17/*.db-shm
/DirectX12Graphics/.vs/DirectX12Graphics/v17/*.db-wal
/DirectX12Graphics/.vs/DirectX12Graphics/v17/*.opendb
/DirectX12Graphics/.vs/DirectX12Graphics/v17/ipch/*.ipch
/DirectX12Graphics/.vs/DirectX12Graphics/v17/ipch/AutoPCH/2cba894e53447d89/*.ipch
/DirectX12Graphics/.vs/DirectX12Graphics/v17/ipch/AutoPCH/355b6ad636a90e71/*.ipch
/DirectX12Graphics/.vs/DirectX12Graphics/v17/ipch/AutoPCH/45e58e1834efef0b/*.ipch
/DirectX12Graphics/.vs/DirectX12Graphics/v17/ipch/AutoPCH/5da862311624c717/*.ipch
/DirectX12Graphics/.vs/DirectX12Graphics/v17/ipch/AutoPCH/7fd9dde6ad548992/*.ipch
/DirectX12Graphics/.vs/DirectX12Graphics/v17/ipch/AutoPCH/ae0b56fba6d513c7/*.ipch
/DirectX12Graphics/.vs/DirectX12Graphics/v17/ipch/AutoPCH/b12426be512bc64b/*.ipch
/DirectX12Graphics/.vs/DirectX12Graphics/v17/ipch/AutoPCH/d99d3cae6d6718c9/*.ipch
/DirectX12Graphics/.vs/DirectX12Graphics/v17/ipch/AutoPCH/f3f38fb948954b63/*.ipch
/DirectX12Graphics/.vs/DirectX12Graphics/v17/ipch/AutoPCH/f9b459addea0e81/*.ipch
/DirectX12Graphics/DirectX12Graphics/Bin/*.pdb
/DirectX12Graphics/DirectX12Graphics/Project/*.aps
/DirectX12Graphics/DirectX12Graphics/Project/x64/Debug/DirectX1.a91e9b6a.tlog/*.tlog
/DirectX12Graphics/DirectX12Graphics/Project/x64/Debug/DirectX1.a91e9b6a.tlog/*.lastbuildstate
/DirectX12Graphics/DirectX12Graphics/Project/x64/Debug/*.log
/DirectX12Graphics/DirectX12Graphics/Project/x64/Debug/*.recipe
/DirectX12Graphics/DirectX12Graphics/Project/x64/Debug/*.res
/DirectX12Graphics/DirectX12Graphics/Project/x64/Debug/*.txt
/DirectX12Graphics/DirectX12Graphics/Project/x64/Debug/*.ilk
/DirectX12Graphics/DirectX12Graphics/Project/x64/Debug/*.idb
/DirectX12Graphics/DirectX12Graphics/Project/x64/Debug/*.pdb
/DirectX12Graphics/DirectX12Graphics/Project/x64/Release/DirectX1.a91e9b6a.tlog/*.tlog
/DirectX12Graphics/DirectX12Graphics/Project/x64/Release/DirectX1.a91e9b6a.tlog/*.lastbuildstate
/DirectX12Graphics/DirectX12Graphics/Project/x64/Release/*.log
/DirectX12Graphics/DirectX12Graphics/Project/x64/Release/*.res
/DirectX12Graphics/DirectX12Graphics/Project/x64/Release/*.recipe
/DirectX12Graphics/DirectX12Graphics/Project/x64/Release/*.iobj
/DirectX12Graphics/DirectX12Graphics/Project/x64/Release/*.ipdb
/DirectX12Graphics/DirectX12Graphics/Project/x64/Release/*.pdb
/DirectX12Graphics/DirectX12Graphics/Project/x64/Debug/RCa01228
